---
layout: master
---

{% for post in paginator.posts %}
  <section>
    <div class="eight columns">
      <h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      <a href="/archives/"><time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time></a>
      <div class="excerpt">
        {{ post.content | truncatewords:100 }}
      </div>
      <a href="{{ post.url | prepend: site.baseurl }}" class="button float-right">Read more<span class="visually-hidden">: {{ post.title }}</span></a>
    </div>
    <br class="clear" />
  </section>
{% endfor %}

{% if paginator.total_pages > 1 %}
<nav class="pagination" aria-label="Pages">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button light" rel="prev" aria-label="Newer posts">{% include icon.html name="chevron-left" %}</a>
  {% else %}
    <span class="button light disabled">{% include icon.html name="circle" %}</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="button" aria-current="page">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}" class="button light" aria-label="Page {{ page }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="button light" aria-label="Page {{ page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button light" rel="next" aria-label="Older posts">{% include icon.html name="chevron-right" %}</a>
  {% else %}
    <span class="button light disabled">{% include icon.html name="circle" %}</span>
  {% endif %}
</nav>
{% endif %}
