<footer>
  <div class="slate">
    <div class="eight columns">
      <div class="float-right">
        <a href="https://www.linkedin.com/in/geordee" class="button linkedin" aria-label="LinkedIn">{% include icon.html name="linkedin" %}</a>
        <a href="https://github.com/geordee" class="button github" aria-label="GitHub">{% include icon.html name="github" %}</a>
        <span class="padder"></span>
      </div>
    </div>
  </div>
  <div class="slate">
    <div class="four columns">
      <p>&copy; {{ site.time | date: '%Y' }}</p>
    </div>
  </div>

  <script src="/assets/javascripts/application.js?v={{ site.time | date: '%s' }}" defer></script>

</footer>
