---
layout: master
---

<section>
  <div class="eight columns">
    <h1 class="post-title">{{ page.title }}</h1>
    <a href="/archives/"><time class="post-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time></a>

    <article class="post-content">
    {{ content }}
    </article>

    <hr/>

    <div class="metadata">
      <span>{% include icon.html name="clock" %}{{ page.date | date: "%b %-d, %Y" }}</span>
      {% if page.author %}
        <span>{% include icon.html name="pencil" %}{{ page.author }}</span>
      {% endif %}
      {% if page.categories %}
        <span>{% include icon.html name="bookmark" %}{{ page.categories | array_to_sentence_string }}</span>
      {% endif %}
    </div>

  </div>
  <br class="clear" />
</section>
